body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-section {
    max-width: 300px;
}

h3 {
    font-size: 1.2em;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

p, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer; 
}


.footer-section h3 {
    text-decoration: none;
    margin-bottom: 10px; 
}

.footer-section p {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
    transition: color 0.3s ease-in-out;
}


.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}


.footer-section p:hover, .footer-section ul li:hover, .footer-section .icon:hover {
    color: #0077cc; 
    transform: scale(1.2); 
}
